@import "../../styles/variables.scss";

.root {
  background: $secondary-color;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  box-shadow: 0 .1rem .5rem $shadow-color;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.enter {
  animation: enter .4s ease-in;
  animation-delay: .2s;
  opacity: 0;
  animation-fill-mode: forwards;
  pointer-events: all;
}

.leave {
  animation: leave .2s ease-in;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.hidden {
  animation: none;
  opacity: 0;
  pointer-events: none;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.count {
  display: block;
  width: 80px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
}

.root a {
  color: $text-color;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.disabled {
  opacity: .3;
  pointer-events: none;
}
