@import '~normalize.css';
@import './variables.scss';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: $text-color;
  font-family: $text-family;
  font-size: $text-size;
  font-weight: $text-weight;
  background: darken($secondary-color, 5%);
}

@media (max-width: $tablet) {
  body {
    font-size: 14px;
  }
}

body,
main {
  min-height: 100vh;
}

input {
  appearance: none;
  color: $text-color;
  font-family: $text-family;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba($primary-color, .3);
  margin: 0 auto 1rem;
  width: 100%;
  text-align: center;
  padding: .5rem 0;
}

input:focus {
  outline: none;
}

a {
  color: darken($primary-color, 12%);
}

h1,
h2,
h3 {
  color: $heading-color;
}

:global(.route-transition-container) {
  position: relative;
  width: 100%;
}
