// Colors

$primary-color: #ffa52a;
$secondary-color: #ffffff;
$text-color: #222222;
$text-color-lighter: #9f9f9f;
$heading-color: #555555;
$shadow-color: rgba(0, 0, 0, .1);

// Fonts

$text-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$text-size: 15px;
$text-weight: 400;

// Media Queries

$nav-collapse: 58rem;
$tablet: 48rem;
$mobile-l: 26.5625rem;
$mobile-m: 23.4375rem;
$mobile-s: 20rem;
