@import "../../styles/variables.scss";

.root {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-left: 3px solid lighten($primary-color, 10%);
  padding: 0 0 1rem 1rem;
  margin-bottom: 1rem;
}

.root:last-child {
  margin-bottom: 0;
}

.content {
  background: $secondary-color;
  padding: 1rem 0 0;
}

.info {
  color: $text-color-lighter;
  margin-bottom: 1rem;
}

.info a {
  color: $text-color-lighter;
}

.info a:hover {
  color: $primary-color-darker;
}

.text {
  word-wrap: break-word;
}

.text p {
  margin: .5rem 0 0;
}

.text code {
  white-space: pre-wrap;
}

.comments {
  margin: .5rem 0 0 0;
}

.toggleReplies {
  display: flex;
  align-items: center;
  padding: .7rem 0;
  margin-top: 1rem;
  font-size: .8rem;
  cursor: pointer;
}

.toggleReplies.toggleRepliesCollapsed {
  background: lighten($primary-color, 30%);
  color: $text-color;
  padding: .7rem;
}

.toggleReplies.toggleRepliesCollapsed::after {
  display: none;
}

.toggleReplies::after {
  content: "";
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, .1);
  flex-grow: 1;
  margin-left: .5rem;
}
