@import '../../styles/variables.scss';

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $primary-color;
  z-index: 1;
  box-shadow: 0 .1rem .5rem $shadow-color;
}

.wrapper {
  width: auto;
  max-width: 800px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width: 832px) {
    padding: 0 1rem;
    margin: 0;
  }
}

.navContent {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 1rem;
}

.logo svg {
  height: 30px;
}

.logo h1 {
  margin: 0;
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
  text-decoration: none;
}

.mainNav {
  display: flex;
  height: 60px;
}

.aboutLink svg {
  height: 1.5rem;
  fill: $secondary-color;
}

.aboutLink span {
  top: -100%;
  left: -100%;
  position: absolute;
}

.menu {
  display: none;
}

@media (max-width: 600px) {
  .logo {
    margin-right: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo h1 {
    font-size: 1rem;
    color: $secondary-color;
    margin: 0 0 0 .7rem;
    width: auto;
    height: auto;
    font-weight: 400;
    opacity: 1;
    pointer-events: all;
  }

  .logo svg {
    height: 28px;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .menu svg {
    height: 30px;
    fill: $secondary-color;
  }
}
